.title {
    width: 100%;
    background-color: #636AD9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    position: fixed;
    top: 0;
}