.login_frame {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: #636AD9;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
    width: 400px;
}

.login h3 {
    font-size: 20px;
    text-align: center;
}

.login input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.login input[type="submit"] {
    cursor: pointer;
    transition: 0.3s ease;
}

.login input[type="submit"]:hover {
    transform: translateY(-2px);
    background-color: #cdcdcd;
}