.profile_frame {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile {
    padding: 20px;
    background-color: #636AD9;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.avatar {
    height: 200px;
    border-radius: 20px;
}

.info ul {
    list-style: none;
    padding: 10px;
    font-weight: bold;
}

.func input[type="number"], .func input[type="text"]{
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    margin-right: 10px;
}

.func input[type="submit"] {
    background-color: #4597DA;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: 0.3s ease;
    margin: 10px auto;
    color: #fff;
    font-weight: bold;
}

.func input[type="submit"]:hover {
    transform: translateY(-1px);
}